{% extends 'base.html.twig' %}

{% block title %}SymRecipies
{% endblock %}

{% block body %}
	<div class="container my-4">
		{% if app.user %}
			<h1 class="text-center">
				Bonjour
				{{ app.user.fullName}}
			</h1>
		{% else %}
			<div>
				<h1 class="display-4">Bienvenue sur SymRecipies</h1>
				<p class="lead">SymRecipies est une application qui va permettre de créer des recettes à base d'igrédient que tu auras chosi toi meme</p>
				<hr class"my-8">
				<p>Pour commencer, rendez vous sur la page d'inscription pour utiliser l'appilication.</p>
				<a href="{{path('app_registration') }}" class="btn btn-primary btn-lgz" role="button">Inscription</a>
				<a href="{{path('app_login')}}" class="btn btn-primary btn-lgz">Connection</a>


			</div>

		{% endif %}
		<h1 class="text-center">Recettes de la comunauté</h1>

		<div class="d-flex justify-content-between">
			{% for recipe in recipiesPublic %}

				<div class="card border-primary m-3 shadow-lg mb-5 bg-body rounded" style="max-width: 20rem;">
					<div class="card-header">Recette n°{{ recipe.id}}</div>
					<div class="card-body">
						<h4 class="card-title">temps :
							{{ recipe.name}}</h4>
						<p class="card-text">{{ recipe.description |slice(0, 100) ~ '...' }}</p>
					</div>
				</div>


			{% endfor %}


		</div>
	</div>
{% endblock %}
