<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link {{ currentPage =='home' ? 'active' }}" href="{{path('home')}}">Acceuil</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link {{ currentPage =='ingredient_list' ? 'active' }}" href="{{path('ingredient_list')}}">
							Mes Ingrédients</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ currentPage =='recipies_list' ? 'active' }}" href="{{path('recipies_list')}}">Mes Recettes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ currentPage =='user_list' ? 'active' }}" href="{{path('user_list')}}">User</a>
					</li>
				{% endif %}

			</ul>
			<div class="navbar-nav">

				<div class="nav-item mx-4">
					{% if app.user %}
						<a class="nav-link active" href="{{path('app_logout')}}">Deconnection</a>
					{% endif %}

				</div>
			</div>

			<form class="d-flex">
				<input class="form-control me-sm-2" type="text" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
